.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red);
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}